name = "vampires_focus"
configurations = [
    { idx = 1, name = "Standard", value = 2.5421844123238806 },
    { idx = 2, name = "SDI", value = 1.9504272675006307 },
    { idx = 3, name = "Pupil", value = 0.0 },
    { idx = 4, name = "VPL", value = 0.15959146468823526 },
]
unit = "mm"
offset = 0

[serial]
timeout = 0.5
port = "/dev/serial/by-id/usb-Newport_CONEX-AGP_A6Z9D9VP-if00-port0"
baudrate = 921600
xonxoff = true
